
pandas~=2.0.1
numpy~=1.24.3
pyzmq~=25.0.2
matplotlib~=3.7.1
zmq~=0.0.0

mysqlclient~=2.1.1
DateTime~=5.1

pytest~=7.3.1
pytz~=2023.3
python-dateutil~=2.8.2
catboost~=1.2

iso8601~=1.1.0
httpx~=0.24.0
requests~=2.30.0
MetaTrader5~=5.0.45
scikit-learn~=1.2.2
openai~=0.27.6
joblib~=1.2.0
setuptools~=65.5.0